body {
    font-family: roboto;
    background-color: #1f2937;
    justify-content: center;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
    width: 70%;
}

nav>ul>li {
    display: inline-block;
    padding: 0 1rem 0 0;
}

.header-logo,
.header1,
.header2,
.header3 {
    color: #f9faf8;
    text-decoration: none;
}

.header-logo {
    font-size: 20px;
    font-weight: bold;
}

.hero {
    color: #f9faf8;
    display: flex;
    flex-wrap: wrap;
    padding: 2% 15% 5% 15%;

}

.hero>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    font-size: 24px;
}

.hero>div>button>a {
    display: flex;
    background-color: #3882f6;
    color: white;
    border: 0;
    border-radius: 0.3rem;
    padding: 4.5px 25px;
    font-weight: bold;
    text-decoration: none;
}

.hero>div>button>a:hover {
    background-color: #1dddad;
    color: white;
}

main>.section1,
main>.section3 {
    background-color: #ffffff;
    padding-top: 60px;
    padding-bottom: 60px;
}

main>.section2 {
    background-color: rgb(201, 201, 201);
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 50px 50px;
}

blockquote {
    text-align: justify;
    font-style: italic;
    font-size: 18px;
    width: 60%
}

.section2>div {
    width: 60%;
    text-align: end;
    font-size: 18px;
    font-weight: bold;
}

.section1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    width: 80%;
}

.section1>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.section1>div>div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 5px;
}

.section1>div>div>img {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
}

.section1>div>div>p {
    justify-content: center;
    font-size: 11px;
    text-align: center;
}

.section1>div>div>p>a {
    color: black;
    text-decoration: none;
}

.section3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3>div {
    background-color: #3882f6;
    padding: 40px 30px;
    border-radius: 0.4rem;
    font-size: 15px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 70%
}

.section3>div>button>a {
    display: flex;
    background-color: #3882f6;
    color: white;
    border: 1px solid white;
    border-radius: 0.3rem;
    padding: 4px 25px;
    font-weight: bold;
    text-decoration: none;
}

.section3>div>button>a:hover {
    background-color: white;
    color: #3882f6;
}


footer>p {
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.hero>div>p,
.section3>div>div>p {
    padding: 7px 25px 10px 0;
    margin: 0;
}

.hero>div>h1,
.section3>div>div>h3 {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 44px;
}

.hero>div>button,
.section3>div>button {
    padding: 0;
    border: 0;
    margin: 0;
    border-radius: 0.3rem;
}

@media (max-width: 900px) {
    .hero {
        flex-direction: column-reverse;
    }

    .hero>div {
        width: 85%;
    }

    .header1,
    .header2,
    .header3 {
        display: none;
    }

    .hero-img {
        padding-bottom: 15px;
    }
}